/* You can add global styles to this file, and also import other style files */
body{
    background-color: #1f2128 ;
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Media queries for different screen sizes */

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    /* Add your styles here */
    body {
      font-size: 14px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 576px and up) */
  @media only screen and (min-width: 576px) {
    /* Add your styles here */
    body {
      font-size: 16px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    /* Add your styles here */
    .container {
      max-width: 720px;
      margin: 0 auto;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    /* Add your styles here */
    .container {
      max-width: 960px;
      margin: 0 auto;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    /* Add your styles here */
    .container {
      max-width: 1140px;
      margin: 0 auto;
    }
  }
  